exkurs-05-WS-Grundlagen/wsdl/ws-policy/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://docs.oasis-open.org/ws-rx/wsrmp/200608" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://kontakt.semi.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kontakt.semi.ws/"
	name="KontaktWSService">
	<wsp:UsingPolicy />
	<!-- Die Policy -->
	<wsp:Policy wsu:Id="NameIstPflichtPolicy"
		xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<wsp:All>
			<wsp:MessagePredicate>wsp:Body()/*/kontakt/name</wsp:MessagePredicate>
		</wsp:All>
	</wsp:Policy>

	<types>
		<xsd:schema>
			<xsd:import namespace="http://kontakt.semi.ws/"
				schemaLocation="typen.xsd" />
		</xsd:schema>
	</types>
	<message name="neu">
		<part name="parameters" element="tns:neu" />
	</message>
	<message name="neuResponse">
		<part name="parameters" element="tns:neuResponse" />
	</message>
	<message name="hole">
		<part name="parameters" element="tns:hole" />
	</message>
	<message name="holeResponse">
		<part name="parameters" element="tns:holeResponse" />
	</message>
	<message name="suche">
		<part name="parameters" element="tns:suche" />
	</message>
	<message name="sucheResponse">
		<part name="parameters" element="tns:sucheResponse" />
	</message>
	<portType name="KontaktWS">
		<operation name="neu">
			<input wsam:Action="http://kontakt.semi.ws/KontaktWS/neuRequest"
				message="tns:neu" />
			<output wsam:Action="http://kontakt.semi.ws/KontaktWS/neuResponse"
				message="tns:neuResponse" />
		</operation>
		<operation name="hole">
			<input wsam:Action="http://kontakt.semi.ws/KontaktWS/holeRequest"
				message="tns:hole" />
			<output wsam:Action="http://kontakt.semi.ws/KontaktWS/holeResponse"
				message="tns:holeResponse" />
		</operation>
		<operation name="suche">
			<input wsam:Action="http://kontakt.semi.ws/KontaktWS/sucheRequest"
				message="tns:suche" />
			<output wsam:Action="http://kontakt.semi.ws/KontaktWS/sucheResponse"
				message="tns:sucheResponse" />
		</operation>
	</portType>
	<binding name="KontaktWSPortBinding" type="tns:KontaktWS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="neu">
			<soap:operation soapAction="" />
			<!-- 
			-->
			<wsp:PolicyReference URI="#NameIstPflichtPolicy" /> 
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="hole">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="suche">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="KontaktWSService">
		<port name="KontaktWSPort" binding="tns:KontaktWSPortBinding">
			<soap:address location="http://localhost:8080/ws-policy/kontakt" />
		</port>
	</service>
</definitions>