07-WS/infos/wsdl/einstieg/daten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.6 in JDK 6. -->
<xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://ws/">

	<xs:element name="ping" type="tns:ping" />

	<xs:element name="pingResponse" type="tns:pingResponse" />

	<xs:complexType name="ping">
		<xs:sequence>
			<xs:element name="txt" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pingResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>