exkurs-05-WS-Grundlagen/schema/namespace/mit/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema 
	targetNamespace="http://www.kiltz.de/Schema/Seminar" 
	xmlns="http://www.kiltz.de/Schema/Seminar" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Vorname" type="xs:string"/>
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Vorname"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
