exkurs-05-WS-Grundlagen/wsdl/ws-rm/PingWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://wsrm.traudel.de/" xmlns:tns="http://wsrm.traudel.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ping" nillable="true" type="tns:ping"/>

  <xs:element name="pingResponse" nillable="true" type="tns:pingResponse"/>

  <xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ping">
    <xs:sequence>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

