07-WS/bipro/axa/AXA-Leben-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--BiPRO R2.1.0. - Revision 19.05.2010-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.axa-advice.de/leben/namespace" xmlns:leben="http://www.bipro.net/namespace/leben" xmlns:allgemein="http://www.bipro.net/namespace/allgemein" xmlns:bipro="http://www.bipro.net/namespace" xmlns:daten="http://www.bipro.net/namespace/datentypen" xmlns:taa="http://www.bipro.net/namespace/tarifierung" xmlns:partner="http://www.bipro.net/namespace/partner" targetNamespace="http://www.axa-advice.de/leben/namespace" elementFormDefault="qualified" attributeFormDefault="qualified" bipro:Version="2.1.0">
	<!-- Hier werden alle BiPRO-Modelle importiert, deren Objekte bzw. Datentypen erweitert werden sollen. -->
	<xsd:import namespace="http://www.bipro.net/namespace/datentypen" schemaLocation="bipro-datentypen-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/allgemein" schemaLocation="bipro-allgemein-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/tarifierung" schemaLocation="bipro-tarifierung-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/leben" schemaLocation="bipro-leben-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/partner" schemaLocation="bipro-partner-2.1.0.xsd"/>
	<!-- Hier werden VU-spezifische Objekte definiert. -->
	<xsd:simpleType name="ST_RabattTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">RabattTyp</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einzelgeschäft</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Kollektivgeschäft</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">EinzelUndKollektivgeschäft</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">EinzelUndKollektivgeschäftErhoehterAufwand</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ST_RabattVerein">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">RabattVerein</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Kein</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">IPV - Sammelvers.vertrag mit dem Industrie-Pensions-Verein</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">BPV - Bäuerlicher  Pensionsverein</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="V">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">HPV - Pensionsverein für Selbständige, kleinere und mittlere Arbeitgeber e.V.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="K">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Kollektivvertrag</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Mitarbeitertarif</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Ö">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">FÖDOK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="W">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Freie Wildbahn</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">SVV - Sammelversicherungsvertrag</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">SVV2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="G">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Gesundheitsrente</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Apo-Bank-Mitarbeiter</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">dbb vorsorgewerk</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">ver.di MS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">BSA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">DBwV</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ST_RabattStufe">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">RabattStufe</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">100 % Bewertung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">85% Bewertung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">75% Bewertung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">50% Bewertung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">25% Bewertung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">0% Bewertung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_KonditionErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Individuelle Rabattierung der AXA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="RabattTyp" type="ST_RabattTyp"/>
					<xsd:element name="RabattVerein" type="ST_RabattVerein"/>
					<xsd:element name="RabattStufe" type="ST_RabattStufe"/>
					<xsd:element name="Stueckkosten" type="daten:ST_JaNein" minOccurs="0"/>
					<xsd:element name="ZugangZumKollektivvertragBeantragen" type="daten:ST_JaNein" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FondsportfolioErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Infos zur Wertentwicklung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence maxOccurs="3">
					<xsd:element name="Wertentwicklung" type="CT_Wertentwicklung"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ST_Finanzierung_bAV">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Finanzierungsart der bAV</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">ArbeitnehmerFinanzierung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">MischfinanzierungOhneUmwandlungVL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">bAVstattGehaltserhoehung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">ArbeitgeberFinanzierung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_VorgabeErweiterung">
		<xsd:annotation>
			<xsd:documentation>Informationen für eine Rechenvorgabe</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Zielalter" type="daten:ST_Ganzzahl" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternativer Zeitpunkt für die  Angabe der Versicherungsleistungen</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ZinsBeitragsverrechnungskonto" type="daten:ST_Dezimalzahl" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Zinssatz des Beitragsverrechnungskontos</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Finanzierung_bAV" type="ST_Finanzierung_bAV" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Finanzierungsart der bAV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Optimierung" type="daten:ST_JaNein" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optimierung durch den Rechenkern zulässig?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ST_KontoVerwendung">
		<xsd:annotation>
			<xsd:documentation>Verwendungsart eines Kontos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Beitragskonto"/>
			<xsd:enumeration value="Rentenkonto"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_BankverbindungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Zusaetzliche Informationenen zur Bankverbindung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="AbweichenderKontoinhaber" type="daten:ST_JaNein" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Abweichernder Kontoinhaber</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="KontoVerwendung" type="ST_KontoVerwendung" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Verwendungsart eines Kontos</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SitzDerBank" type="daten:ST_Text" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sitz der Bank</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Wertentwicklung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Angabe der Wertentwicklung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
					<xsd:element name="Wertentwicklung" type="daten:STE_LeistungSchluessel"/>
					<xsd:element name="Zinssatz" type="daten:ST_Prozent"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="STE_PortfoliobezeichnungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Dachfonds oder Einzelfonds</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Portfoliobezeichnung">
				<xsd:enumeration value="1">
					<xsd:annotation>
						<xsd:documentation>Dachfonds</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="2">
					<xsd:annotation>
						<xsd:documentation>Einzelfonds</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_PortfoliomanagementErweiterung">
		<xsd:annotation>
			<xsd:documentation>Risikoklasse</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Portfoliomanagement">
				<xsd:enumeration value="1">
					<xsd:annotation>
						<xsd:documentation>Defensiv</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="2">
					<xsd:annotation>
						<xsd:documentation>Wachstum</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="3">
					<xsd:annotation>
						<xsd:documentation>Chance</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_BeitragErweiterung">
		<xsd:annotation>
			<xsd:documentation>Beitragsspezifizierung</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Beitrag">
				<xsd:enumeration value="Gesamtbeitrag"/>
				<xsd:enumeration value="Produktbeitrag"/>
				<xsd:enumeration value="Vorgabe"/>
				<xsd:enumeration value="Zuzahlung"/>
				<xsd:enumeration value="Anfangsbeitrag"/>
				<xsd:enumeration value="Eigenbeitrag"/>
				<xsd:enumeration value="SteuerGesamtbeitrag"/>
				<xsd:enumeration value="SteuerAbziehbar"/>
				<xsd:enumeration value="SteuerErsparnis"/>
				<xsd:enumeration value="SteuerNettobeitragBeiAbschluss"/>
				<xsd:enumeration value="SteuerNettobeitragDurchschnitt"/>
				<xsd:enumeration value="ZuzahlungSteuerErsparnis"/>
				<xsd:enumeration value="ZuzahlungNettobeitrag"/>
				<xsd:enumeration value="VL_ArbeitgeberAnteil"/>
				<xsd:enumeration value="VL_ArbeitnehmerAnteil"/>
				<xsd:enumeration value="ArbeitgeberZuschuss"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_LeistungSchluesselErweiterung">
		<xsd:annotation>
			<xsd:documentation>Wertentwicklungen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_LeistungSchluessel">
				<xsd:enumeration value="Niedrig">
					<xsd:annotation>
						<xsd:documentation>Niedrige Wertentwicklung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Mittel">
					<xsd:annotation>
						<xsd:documentation>Mittelere Wertentwicklung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Hoch">
					<xsd:annotation>
						<xsd:documentation>Hohe Wertentwicklung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Vorgabe">
					<xsd:annotation>
						<xsd:documentation>Vorgegebene Wertentwicklung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Garantie">
					<xsd:annotation>
						<xsd:documentation>Garantierte Wertentwicklung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Eigenbeitraege">
					<xsd:annotation>
						<xsd:documentation>Rente aus Eigenbeiträgen</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Zulagen">
					<xsd:annotation>
						<xsd:documentation>Rente aus Zulagen</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_TarifbezeichnungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Tarifbezeichnungen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Tarifbezeichnung">
				<xsd:enumeration value="IG1">
					<xsd:annotation>
						<xsd:documentation>TwinStar Klassik</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IG2">
					<xsd:annotation>
						<xsd:documentation>TwinStar Klassik</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IF1">
					<xsd:annotation>
						<xsd:documentation>TwinStar Invest</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IF2">
					<xsd:annotation>
						<xsd:documentation>TwinStar Invest</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AF1">
					<xsd:annotation>
						<xsd:documentation>FRV</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AF2">
					<xsd:annotation>
						<xsd:documentation>FRV</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AF3">
					<xsd:annotation>
						<xsd:documentation>FRV</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AF4">
					<xsd:annotation>
						<xsd:documentation>FRV</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AF5">
					<xsd:annotation>
						<xsd:documentation>FRV</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IRG1">
					<xsd:annotation>
						<xsd:documentation>TwinStar Riester Klassik</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IRG1+">
					<xsd:annotation>
						<xsd:documentation>TwinStar Riester Klassik+</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IRG2">
					<xsd:annotation>
						<xsd:documentation>TwinStar Riester Klassik</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IRG2+">
					<xsd:annotation>
						<xsd:documentation>TwinStar Riester Klassik+</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IRF1">
					<xsd:annotation>
						<xsd:documentation>TwinStar Riester Invest</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="IRF2">
					<xsd:annotation>
						<xsd:documentation>TwinStar Riester Invest</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AG1">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AG2">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AG3">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AG4">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AGS1">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AGS2">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AGS1U">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AGS2U">
					<xsd:annotation>
						<xsd:documentation>Konventionelle Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AFX4">
					<xsd:annotation>
						<xsd:documentation>Flexx Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="AFX5">
					<xsd:annotation>
						<xsd:documentation>Flexx Rente</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="R1">
					<xsd:annotation>
						<xsd:documentation>PK-Konventionell</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VI">
					<xsd:annotation>
						<xsd:documentation>PK-Fondsgebunden</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ABV">
					<xsd:annotation>
						<xsd:documentation>Berufsunfähigkeitsversicherung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_UeberschussverwendungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Ueberschusssysteme</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Ueberschussverwendung">
				<xsd:enumeration value="KeinUeberschuss"/>
				<xsd:enumeration value="Bonusrente"/>
				<xsd:enumeration value="Beitragsverrechnung"/>
				<xsd:enumeration value="Turbodynamik"/>
				<xsd:enumeration value="DynamischeGewinnrente"/>
				<xsd:enumeration value="ErhoehteStartrente"/>
				<xsd:enumeration value="VerzinslicheAnsammlung"/>
				<xsd:enumeration value="VariableGewinnrente"/>
				<xsd:enumeration value="Investmentbonus"/>
				<xsd:enumeration value="Todesfallbonus"/>
				<xsd:enumeration value="DynamischeSteigerung"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_VorgabeBerechnungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Berechnungsvorgaben</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_VorgabeBerechnung">
				<xsd:enumeration value="Gesamtbeitrag"/>
				<xsd:enumeration value="HVBeitrag"/>
				<xsd:enumeration value="Garantierente"/>
				<xsd:enumeration value="Investmentrente"/>
				<xsd:enumeration value="Kapitalabfindung"/>
				<xsd:enumeration value="Optimalbeitrag"/>
				<xsd:enumeration value="Mindesteigenbeitrag"/>
				<xsd:enumeration value="Maximalaufwand"/>
				<xsd:enumeration value="KonstanterAufwand"/>
				<xsd:enumeration value="Zulagenverrechnung"/>
				<xsd:enumeration value="BURenteBeiMinimalerSparleistung"/>
				<xsd:enumeration value="RenteMitUeberschuss"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_VersicherungssummeOderLeistungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Berechnungsvorgaben</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_VersicherungssummeOderLeistung">
				<xsd:enumeration value="GarantierteBURente"/>
				<xsd:enumeration value="BURente_inkl_Bonus"/>
				<xsd:enumeration value="MaximaleBURente"/>
				<xsd:enumeration value="Garantieleistung"/>
				<xsd:enumeration value="ZuzahlungAblaufleistung"/>
				<xsd:enumeration value="ZuzahlungRente"/>
				<xsd:enumeration value="GarantierteRenteAusEigenbeitraegen"/>
				<xsd:enumeration value="GarantierteRenteAusZulagen"/>
				<xsd:enumeration value="BURenteNachAnfangsphase"/>
				<xsd:enumeration value="BURente_inkl_BonusNachAnfangsphase"/>
				<xsd:enumeration value="Hinterbliebenenrente"/>
				<xsd:enumeration value="Halbwaisenrente"/>
				<xsd:enumeration value="Vollwaisenrente"/>
				<xsd:enumeration value="Waisenrente"/>
			</xsd:restriction>
			<!-- zulässige Vorgaben für BU-Rente sind: -->
			<!--    Garantierte monatliche BU-Rente -->
			<!--    Monatliche BU-Rente inkl. Bonus -->
			<!--    Garantierte jährliche BU-Rente in % der Beitragssumme -->
			<!--    Jährliche BU-Rente inkl. Bonus in % der Beitragssumme -->
			<!--    Maximal mögliche BU-Rente -->
			<!-- Zahlweise und Werteinheit werden in separaten Attributen angegeben -->
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_KonditionErweiterung">
		<xsd:annotation>
			<xsd:documentation>Art der Zu- oder Abschlaege</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Kondition">
				<xsd:enumeration value="BUZ_Risikozuschlag"/>
				<xsd:enumeration value="RZ_RisikozuschlagKonventionell"/>
				<xsd:enumeration value="RZ_RisikozuschlagFondsgebunden"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STE_DynamikErweiterung">
		<xsd:annotation>
			<xsd:documentation>Dynamikform</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="daten:STE_Dynamik">
				<xsd:enumeration value="1">
					<xsd:annotation>
						<xsd:documentation>AV-Anpassung mind. 5%</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="2">
					<xsd:annotation>
						<xsd:documentation>Beitragssatz angeben</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="3">
					<xsd:annotation>
						<xsd:documentation>Jaehrliche Erhoehung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="4">
					<xsd:annotation>
						<xsd:documentation>Gemaess gesetzl. RV-Beitrag</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="5">
					<xsd:annotation>
						<xsd:documentation>AV-Anpassung</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ST_BezugsBerechtigter">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Definition der bezugsberechtigten Personen gem. AXA / DBV</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Antragsteller</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der Versicherte</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die mitversicherte Person</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die Versicherten</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der versicherte Versorger</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Das Kind des versicherten Versorgers</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Eine andere Person</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der Ehegatte, mit dem der Versicherte im Zeitpunkt seines Todes verheiratet ist</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die ehelichen bzw. gesetzlich gleichgestellten Kinder des Versicherten</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="10">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die Eltern des Versicherten; falls der Versicherte im Zeitpunkt seines Todes verheiratet ist, der Ehegatte</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="11">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der Ehegatte, mit dem der Versicherte am angegebenen Ablauftermin verheiratet ist</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="12">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der Versicherte</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="13">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der ueberlebende Versicherte</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="14">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die Hinterbliebenden gemaess §1 Absatz 1 Nr.2 AltZertG in folgender Reihenfolge: zuerst der Ehegatte, dann die Kinder</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="15">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die Erben</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="16">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die Eltern</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="17">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Das Kind</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="18">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Die Kinder zu gleichen Teilen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="19">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Sonstiger Verwandter gemaess Antrag</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="20">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Geschaeftspartner gemaess Antrag</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="21">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Gemaess Rangfolge</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="22">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Unwiderruflich die versicherte Person</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="23">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Eine sonstige Person, Firma, etc. gemaess Antrag</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="24">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Der Ehegatte, mit dem der VN im Zeitpunkt des Todes verheiratet war. Ist dieser vorverstorben, die Kinder des VN i.S.v. §10 Absatz 1 Nr. 2b) ESTG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ST_VertragsTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Wem ist der Vertrag zugeordnet?</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="VertragVN"/>
			<xsd:enumeration value="VertragEhepartner"/>
			<xsd:enumeration value="BU"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_BezugsrechtErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA / DBV Auswahl an Bezugsberechtigten</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Berechtigter" type="ST_BezugsBerechtigter"/>
					<xsd:element name="Vertragstyp" type="ST_VertragsTyp" minOccurs="0"/>
					<xsd:element name="Waisenrentenschlussalter" type="daten:ST_Ganzzahl" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ST_BerechnungSteuerlicheFoerderungAEG">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Auswahl der Berechnung</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">auf Basis einer Beratung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">mit individuellem Steuersatz</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">über das Bruttoeinkommen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="900">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">auf Basis der Gehaltsabrechnung</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="901">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">über den Unternehmenssteuersatz</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ST_Bundesland">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Bundesländer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Baden Württemberg</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Bayern</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Berlin</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Brandenburg</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Bremen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Hamburg</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Hessen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Mecklenburg-Vorpommern</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Niedersachsen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="10">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Nordrhein-Westfalen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="11">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Rheinland-Pfalz</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="12">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Saarland</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="13">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Sachsen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="14">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Sachsen-Anhalt</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="15">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Schleswig-Holstein</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="16">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Thüringen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_EinkommenssteuerErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Angaben zur EkSt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="BerechnungSteuerlicheFoerderungAEG" type="ST_BerechnungSteuerlicheFoerderungAEG" minOccurs="0"/>
					<xsd:element name="Bundesland" type="ST_Bundesland" minOccurs="0"/>
					<xsd:element name="KinderGeldOderFreibetrag" type="daten:ST_JaNein" minOccurs="0"/>
					<xsd:element name="Steuerklasse" type="daten:ST_Ganzzahl" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_EinkommenErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Angaben zum Einkommen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="EinzahlungVersorgungswerkGRV" type="daten:STE_Beitrag" minOccurs="0"/>
					<xsd:element name="JaehrlichFuerAnlageFreierBetrag" type="daten:ST_Betrag" minOccurs="0"/>
					<xsd:element name="ZuVersteuerndesEinkommen" type="daten:ST_Betrag" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ProduktErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Erweiterungen zum Produkt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="ReferenzAufBestehendenVertrag" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ErhebungErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Erweiterungen zur Beitragserhebung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Intervall_AlleNJahre" type="daten:ST_Ganzzahl" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ZulagendatenErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Angaben zur Zulagenrente</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="VorhandenerVertrag" type="daten:ST_JaNein"/>
					<xsd:element name="VSNR" type="daten:ST_Text017" minOccurs="0"/>
					<xsd:element name="Auffuellung" type="daten:ST_JaNein"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_GesetzlicheKrankenversicherungErweiterung" abstract="false">
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="PflegeZuschlagKinderlose" type="daten:ST_JaNein" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_VersicherungssummeOderLeistungErweiterung" abstract="false">
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Bezugsberechtigter" type="taa:CT_Bezugsberechtigter" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_BerufstaetigkeitErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Ergaenzungen zum Beruf</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="BerufsfragenRueckgabeIndex" type="daten:ST_Ganzzahl"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gesundheitserklaerung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Gesundheitsfragen</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DienstobliegenheitserklaerungAG_UneingeschraenkterDienstAN" type="daten:ST_JaNein" minOccurs="0"/>
			<xsd:element name="BU_ErklaerungAN_Einschraenkung" type="daten:ST_JaNein" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CT_PersonErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Erweiterungen zur Person</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Gesundheitserklaerung" type="CT_Gesundheitserklaerung" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ElementarproduktErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Informationen zum Elementarprodukt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Beitragssumme" type="daten:ST_Betrag"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
