07-WS/bipro/axa/AXA-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bipro="http://www.bipro.net/namespace" 
	xmlns:daten="http://www.bipro.net/namespace/datentypen"
	xmlns:tarifierung="http://www.bipro.net/namespace/tarifierung" 
	xmlns="http://www.axa-advice.de/namespace"
	xmlns:allgemein="http://www.bipro.net/namespace/allgemein"
	targetNamespace="http://www.axa-advice.de/namespace"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	bipro:Name="AXA-1.0.xsd" bipro:Version="2.1.0">
	<!--
		Hier werden alle BiPRO-Modelle importiert, deren Objekte bzw.
		Datentypen erweitert werden sollen.
	-->
	<xsd:import namespace="http://www.bipro.net/namespace/datentypen"
		schemaLocation="bipro-datentypen-2.1.0.xsd" />
	<xsd:import namespace="http://www.bipro.net/namespace/allgemein"
		schemaLocation="bipro-allgemein-2.1.0.xsd" />
	<xsd:import namespace="http://www.bipro.net/namespace/tarifierung"
		schemaLocation="bipro-tarifierung-2.1.0.xsd" />
		
	<!-- AXA-spezifische Erweiterungen. -->

	<xsd:simpleType name="ST_Text015">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ST_Mailadresse">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Datentyp fuer eMail</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ST_Zugangsweg">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INET">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">INET</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
<!-- 
			<xsd:enumeration value="AOPORT">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">AOPORT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MAEXTR">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">MAEXTR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
-->
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ST_Vertriebsweg">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DVTPOR">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Endkunden Vertrieb</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
<!-- 
			<xsd:enumeration value="DVTDRE">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">DVTDRE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DVTCCC">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">DVTCCC</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AVT">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">AVT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
 -->
			<xsd:enumeration value="MVT">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Makler</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
<!--
			<xsd:enumeration value="AKV">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">AKV</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
-->
			<xsd:enumeration value="BKV">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Banken und Kooperationsvertieb</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
<!-- 
			<xsd:enumeration value="AOPORT">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">AOPORT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IVT">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">IVT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
 -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="CT_RequestErweiterung">
		<xsd:annotation>
			<xsd:documentation>Globale Parameter zur Steuerung interner
				Prozesse</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Hotmail" type="ST_Mailadresse"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Zentrale E-Mail-Adresse fuer die
								Benachrichtigung bei systembedingten Verarbeitungsfehlern
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Vertrieb" type="ST_Vertriebsweg" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Vertriebsweg</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Zugang" type="ST_Zugangsweg" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Zugangsweg</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Aktionscode" type="daten:ST_Text006" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>6-stelliger Aktionscode.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!--
		Feldwert des Attributs ORGANUMMER wird von AXA dem jeweiligen
		Kooperationspartner vorgegeben. Die Or-ganummer identifiziert den
		Makler bzw. die Makler-organisation gegenüber der AXA und ermöglicht
		u.a. die Provisionsberechnung. Innerhalb einer Makleror-ganisation
		kann wiederum ein einzelner Makler über den Maklerfremdschlüssel
		identifiziert werden. Ein Makler/-organisation, der also die AXA
		anbieten möchte, muss eine gültige Organummer bei der AXA beantragen.
	-->
<!-- Einteiliger Makler-Fremdschlüssel  FREMDSCHLUESSEL
Es darf dieser Attribut nur noch 15-stellig befüllt werden. Wenn mehr Inhalt benötigt wird, können wei-tere 15 Stellen in dem Attribut FREMDSCHLUESSEL2 übergeben werden.
Diesen Wert bitte ebenfalls in das Feld a_allg_fremdschluessel übertragen.
-->

<!-- Bereich für weitere Angaben zum Fremdschlüssel.
	Diesen Wert bitte ebenfalls in das Feld A_ALLG_Referenz übertragen.
--> 

	<xsd:complexType name="CT_VermittlerErweiterung">
		<xsd:annotation>
			<xsd:documentation>Erweiterung des Vermittlers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="ReferenzInfo" type="ST_Text015" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Die ReferenzInfo.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CT_VerkaufsproduktErweiterung">
		<xsd:annotation>
			<xsd:documentation>Erweiterung des Verkaufsproduktes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Variante" type="daten:ST_Text006" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Die Variante des Produktes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!--  
	<xsd:complexType name="CT_PersonErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Erweiterungen zur Person</xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="Gesundheitserklaerung" type="CT_Gesundheitserklaerung" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	-->
	
	<xsd:complexType name="CT_BankverbindungErweiterung">
		<xsd:annotation>
			<xsd:documentation>Zusaetzliche Informationenen zur Bankverbindung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="SitzDerBank" type="daten:ST_Text030" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sitz der Bank</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FreistellungserklaerungTelefax" type="daten:ST_JaNein" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Freistellungserklärung für Telefaxaufträge</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CT_PartnerErweiterung" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Erweiterungen zur Person</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Erweiterung">
				<xsd:sequence>
					<xsd:element name="VerdiMitgliedsnummer" type="daten:ST_Text030" minOccurs="0"/>
					<xsd:element name="OnlineKommunikationErwuenscht" type="daten:ST_JaNein" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>Der Partner wird demnächst für das Produkt nur noch elektronische Post an das dazu angegebene email-Postfach anstelle von Papierpost erhalten (und zwar zu allen Schriftstücken, die auf elektronischen Weg umgestellt sind). 
							Wenn gewuenscht, dann muss für den Partner eine Kommunikationsverbindung mit ArtID=50 übergeben werden. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>						
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
<!-- 
Kennzeichnen werden nicht mehr übertragen ...

	<xsd:simpleType name="ST_Telefonerlaubnis">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="J">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Auskünfte an VN, zuständigen Vermittler und Dritte erlaubt</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="N">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">weder an VN noch an Dritte sind Auskünfte erlaubt, zuständiger Vermittler kann Auskünfte erhalten</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Auskünfte für Dritte (z.B. Ehegatte, Rechtsanwälte u.a.) nicht erlaubt an VN und zuständigen Vermittler schon</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="CT_ZusaetzlicheAntragsdatenKennzeichen" abstract="false">
		<xsd:annotation>
			<xsd:documentation>AXA-spezifische Erweiterungen des Antrags</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tarifierung:CT_ZusaetzlicheAntragsdaten">
				<xsd:sequence>
					<xsd:element name="FaxErlaubnis" type="daten:ST_JaNein" minOccurs="0"  maxOccurs="1" />
					<xsd:element name="BriefErlaubnis" type="daten:ST_JaNein" minOccurs="0"  maxOccurs="1" />
					<xsd:element name="VertreterErlaubnis" type="daten:ST_JaNein" minOccurs="0"  maxOccurs="1" />
					<xsd:element name="MultikanalErlaubnis" type="daten:ST_JaNein" minOccurs="0"  maxOccurs="1" />
					<xsd:element name="TelefonauskunftErlaubnis" type="ST_Telefonerlaubnis" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

 -->
</xsd:schema>


