07-WS/bipro/axa/bipro-leben-2.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--BiPRO R2.1.0 - Revision 19.05.2010-->
<!--nillable = "false"-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bipro.net/namespace/leben" xmlns:taa="http://www.bipro.net/namespace/tarifierung" xmlns:daten="http://www.bipro.net/namespace/datentypen" xmlns:allgemein="http://www.bipro.net/namespace/allgemein" xmlns:bipro="http://www.bipro.net/namespace" xmlns:leben="http://www.bipro.net/namespace/leben" xmlns:partner="http://www.bipro.net/namespace/partner" targetNamespace="http://www.bipro.net/namespace/leben" bipro:Name="bipro-leben-2.1.0.xsd" bipro:Version="2.1.0" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:import namespace="http://www.bipro.net/namespace/datentypen" schemaLocation="bipro-datentypen-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/partner" schemaLocation="bipro-partner-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/tarifierung" schemaLocation="bipro-tarifierung-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/allgemein" schemaLocation="bipro-allgemein-2.1.0.xsd"/>
	<xsd:complexType name="CT_Kind">
		<xsd:complexContent>
			<xsd:extension base="partner:CT_Partnerrolle">
				<xsd:sequence>
<xsd:element name="Foerderungshoechstalter" type="daten:ST_Ganzzahl" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Alter des Kindes bis zu dem es fuer die staatliche Foerderung beruecksichtigt werden soll.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Berufsgruppe">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Beschreibt die der Tarifierung zugrunde liegende Berufsgruppe</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_Berufsgruppe" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Service-Anbieter-individuelles Kennzeichen der Berufsgruppe</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Elementarprodukt" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Abstrakter Basistyp von dem alle anderen Elementarprodukte (z.B. Rente, TodesfallAbsicherung usw.) abgeleitet werden.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="taa:CT_Elementarprodukt">
				<xsd:sequence>
<xsd:element name="Hochrechnungszins" type="daten:ST_Dezimalzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zinssatz, der bei der Berechnung einer nicht festverzinslichen Wertentwicklung (z. B. Fonds) zu Grunde gelegt wird. Erfolgt eine individuelle Vorgabe durch den Consumer, so ist diese als Grundlage für das als VersicherungssummeOderLeistung gelieferte Ergebnis zu verwenden. Erfolgt keine solche Vorgabe, so ist das entsprechende Attribut in der Antwort mit dem Wert zu belegen, auf dessen Grundlage der Provider die angegebene VersicherungssummeOderLeistung ermittelt hat. Sollte eine individuelle Vorgabe durch den Consumer außerhalb des vom Provider unterstützten oder als realistisch erachteten Intervalls liegen, so korrigiert der Provider den entsprechenden Wert auf den der Vorgabe am nächsten kommenden Wert aus diesem Intervall und liefert in seiner Antwort eine entsprechende Meldung zurück.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="IstHauptversicherung" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Gibt an, ob das Elementarprodukt die Hauptversicherung ist. Pro Produkt gibt es genau ein Elementarprodukt, welches als Hauptversicherung fungiert.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Rechnungszins" type="daten:ST_Dezimalzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Garantierter Zinssatz mit dem der Sparanteil verzinst wird.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="UeberschussverwendungNachLeistung" type="daten:STE_Ueberschussverwendung" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Steuert die Verwendung der Überschüsse nach dem Leistungsfall.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="UeberschussverwendungVorLeistung" type="daten:STE_Ueberschussverwendung" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Steuert die Verwendung der Überschüsse vor dem Leistungsfall.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Produktattribut" type="daten:ST_Produktattribut" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zählt auf das Elementarprodukt zutreffende Attribute auf und ermöglicht so eine genaue Spezifikation (Tarifbezeichnung) des selben.

Tarifbezeichnung
Als Alternative zur Angabe der exakten Tarifbezeichnung des Versicherungsunternehmens im entsprechenden Attribut des Produktes steht hier ein  Mechanismus zur Beschreibung von Produkteigenschaften zur Verfügung, welcher durch die Attribute &amp;bdquo;Produktgruppe&amp;ldquo; und &amp;bdquo;Produktattribut&amp;ldquo; genutzt werden kann. Die Unterstützung dieses Mechanismus ist für den Service Provider optional</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Produktgruppe" type="daten:ST_Produktgruppe" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ordnet das Elementarprodukt einer Produktgruppe (beispielsweise Rentenversicherung, Kapitalversicherung, Berufsunfähigkeitsversicherung usw.) zu. Dieses Attribut in Kombination mit dem Produktattribut soll die Anfrage eines Service Consumers erleichtern, der die exakten Tarifbezeichnungen des Providers nicht kennt. Der Provider wird bei einer solchen Anfrage die Gruppe inkl. der Produkteigenschaften auf die eigenen Tarife zuordnen und das Ergebnis ermitteln.

Tarifbezeichnung
Als Alternative zur Angabe der exakten Tarifbezeichnung des Versicherungsunternehmens im entsprechenden Attribut des Produktes steht hier ein  Mechanismus zur Beschreibung von Produkteigenschaften zur Verfügung, welcher durch die Attribute &amp;bdquo;Produktgruppe&amp;ldquo; und &amp;bdquo;Produktattribut&amp;ldquo; genutzt werden kann. Die Unterstützung dieses Mechanismus ist für den Service Provider optional</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="BeitragWeitererhebenBeiAblauf" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Nur relevant wenn das Elementarprodukt nicht die Hauptversicherung ist. Gibt an, ob die Beiträge von Zusätzen nach deren Wegfall zu Gunsten der Hauptversicherung weitererhoben werden sollen. Beispiel: Die Hauptversicherung ist eine Basisrente mit Aufschubzeit bis zum 67. Lebensjahr und einem zusätzlichen BU-Schutz, der mit Vollendung des 60. Lebensjahres abläuft. Bei entsprechender Belegung des Attributs wird der Beitrag nach Erreichen des 60. Lebensjahres in unveränderter Höhe weitererhoben und der Beitragsanteil, der bisher für den BU-Schutz aufgewendet wurde, fließt fortan in die Hauptversicherung.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Endalter" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Angabe zur Ermittlung der Vertragsdauer durch den Versicherer aufgrund der Angabe eines Endalter (Stichwort "gebrochene Dauern").</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Umstellungsoption" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Dient der Kennzeichnung ob nach Vollendung eines ebensabschnitts (z.B. Ausbildung) die Option auf Änderung der vereinbarten Leistung und/oder Erhöhung der Rente (ggf. mit vereinfachter oder ganz ohne erneute Gesundheitsprüfung) besteht. Beispiel: Nimmt die versicherte Person innerhalb eines bestimmten Zeitraums nach Beendigung der Schulausbildung oder des Studiums einen Beruf auf, so besteht das Recht, den Vertrag auf eine Berufsunfähigkeitsversicherung mit Verzicht auf abstrakte Verweisung umzustellen. Ggf. kann zusätzlich die versicherte Rente ohne (oder mit vereinfachten) Gesundheitsfragen erhöht werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="MitversichertePerson" type="CT_MitversichertePerson" minOccurs="0" maxOccurs="1"/>
<xsd:element name="VersichertePerson" type="CT_VersichertePerson" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Berufsgruppe" type="CT_Berufsgruppe" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Verlauf" type="CT_Verlauf" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_VersichertePerson">
		<xsd:complexContent>
			<xsd:extension base="partner:CT_Partnerrolle">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_BAV">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Daten zur betrieblichen Altersversorgung</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Durchfuehrungsweg" type="daten:ST_Durchfuehrungsweg" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Durchführungsweg der betrieblichen Alterversorgung</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Finanzierungsform" type="daten:ST_Finanzierungsform" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Finanzierungsform der Versicherung</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Gruppenvertragsnummer" type="daten:ST_Text025" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Kennnummer Gruppenvertrag</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Firmennummer" type="daten:ST_Text025" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Firmennummer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Zusageform" type="daten:ST_Zusageform" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Zusagedatum" type="daten:ST_Datum" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Termin zur Versorgungszusage. Dieser Termin ist für den getOrder einer arbeitsgeber- oder mischfinanzierten bAV relevant.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ArbeitskraftAbsicherung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Umfasst alle Arten der Berufs- und Erwerbsunfähigkeitsversicherung.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Elementarprodukt">
				<xsd:sequence>
<xsd:element name="Art" type="daten:STE_UnfaehigkeitsZusatzArt" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Gibt die Art der Absicherung an. Möglich sind neben Beitragsbefreiung der Hauptversicherung und Rente auch VU-individuelle Auspraegungen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Auspraegung" type="daten:STE_UnfaehigkeitsZusatzAuspraegung" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Gibt an, in welchen Fällen die Absicherung greift. Zum Beispiel bei
Berufsunfähigkeit, Erwerbsunfähigkeit, unfallbedingter Berufsunfähigkeit, Erwerbsminderung etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Staffel" type="daten:ST_BUStaffel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Leistungsstaffel: Gibt an ab welchem Grad der Berufs-/Erwerbsunfähigkeit (ausgedrückt als Prozentsatz) die volle Leistung fällig wird.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="DynamisierungDerHauptversicherungImLeistungsfall" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Falls es sich hier um eine Zusatzversicherung handelt, kann mit diesem Attribut angegeben werden, ob auf die Beiträge zur Hauptversicherung im Leistungsfall die vereinbarte Dynamik angewendet werden soll.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="BUUmstellungsoption" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">I. d. R. bereits eine tarifierungsrelevante Option, die bei Vertragsabschluss vereinbart wird. Sie dient der Vereinbarung einer Option auf Umstellung des Vertrages auf eine Berufsunfähigkeitsversicherung mit Verzicht auf die Anwendung einer abstrakten Verweisungsklausel. Anwendungsszenario: Nimmt die versicherte Person innerhalb eines bestimmten Zeitraums nach Beendigung der Schulausbildung oder des Studiums einen Beruf auf, so besteht das Recht, den Vertrag auf eine Berufsunfähigkeitsversicherung mit Verzicht auf abstrakte Verweisung umzustellen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="AbweichendeLeistungsdauer" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Karenzzeit" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Hobby">
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_Hobby" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ZulagenRente">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Dient der Abbildung von Zulagenrententarifen (Riester).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Rente">
				<xsd:sequence>
<xsd:element name="ZulagenDaten" type="CT_ZulagenDaten" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_MitversichertePerson">
		<xsd:complexContent>
			<xsd:extension base="partner:CT_Partnerrolle">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_UnfallAbsicherung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Umfasst Produkte der Unfallabsicherung.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Elementarprodukt">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_TodesfallAbsicherung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Umfasst Produkte der Todesfallabsicherung (Risikolebensversicherung).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Elementarprodukt">
				<xsd:sequence>
<xsd:element name="Waisenrentenschlussalter" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Der Wert gibt an, bis zum Erreichen welchen Alters eine Waisenrente ausbezahlt wird.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_PflegeAbsicherung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Umfasst Produkte zur Pflegeabsicherung.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Elementarprodukt">
				<xsd:sequence>
<xsd:element name="Karrenzzeit" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Aufschubzeit" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Produkt">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Daten zum Produkt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="taa:CT_Produkt">
				<xsd:sequence>
<xsd:element name="Tarifbezeichnung" type="daten:STE_Tarifbezeichnung" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">technische Tarifbezeichnung (z.B. RM300)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="BAV" type="CT_BAV" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Verlauf" type="CT_Verlauf" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="VorgabeBerechnung" type="CT_VorgabeBerechnung" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Risikopruefung">
		<xsd:complexContent>
			<xsd:extension base="partner:CT_ZusaetzlichePartnerdaten">
				<xsd:sequence>
<xsd:element name="Fragenkomplex" type="allgemein:CT_Fragenkomplex" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_KapitalbildendeVersicherung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Umfasst reine Kapitalbildende Versicherungen</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Elementarprodukt">
				<xsd:sequence>
<xsd:element name="FlexibleAuszahlphase" type="taa:CT_Zeitraum" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Risiko">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Daten des zu versichernden Risikos</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="partner:CT_ZusaetzlichePartnerdaten">
				<xsd:sequence>
<xsd:element name="Nichtraucher" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Angabe, ob der Partner Nichtraucher ist. Ein gelegentlicher Raucher ist kein Nichtraucher.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="VorNebenversicherung" type="taa:CT_VorNebenVersicherung" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Koerper" type="partner:CT_Gesundheitsdaten" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Gefahr" type="CT_Gefahr" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Auslandsaufenthalt" type="CT_Auslandsaufenthalt" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Hobby" type="CT_Hobby" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Auslandsaufenthalt">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zu einem Auslandsaufenthalt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Land" type="daten:ST_Laenderkennzeichen" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Das Länderkennzeichen des Landes</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Gebiet" type="daten:ST_Text080" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Das Gebiet in diesem Land</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Beginn" type="daten:ST_Datum" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Das Datum des Beginns des Aufenthalts im Ausland</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Dauer" type="taa:CT_Dauer" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ZulagenDaten">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Enthält die für die Berechnung der staatlichen Förderung benötigten Zusatzinformationen. Eine reine Berechnung der Förderung im Rahmen der Kundenberatung ist an dieser Stelle nicht vorgesehen. Die Informationen dienen lediglich der exakten Tarifierung.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Foerderungsberechtigung" type="daten:ST_Foerderungsberechtigung" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Dient der Feststellung ob und wenn ja in welcher Eigenschaft der Versicherungsnehmer zum geförderten Personenkreis zählt.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="EinkommenVorjahr" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bruttoeinkommen des Versicherungsnehmers im Vorjahr. Dient der Bestimmung des Mindesteigenbeitrags, der zum Erzielen der vollen staatlichen Förderung notwendig ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="EinkommenVorjahrPartner" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bruttoeinkommen des Ehe- oder Lebenspartners des Versicherungsnehmers im Vorjahr.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Eigenbeitragsart" type="daten:ST_Eigenbeitragsart" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Gibt an, ob der Versicherungsnehmer den minimal erforderlichen Eigenbeitrag zum Erzielen der vollen staatlichen Zulage, den maximal geförderten Eigenbeitrag oder einen individuell vereinbarten Eigenbeitrag einzahlen möchte.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Verrechnungsmodell" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Verrechnung der Zulagen (bei Riesterverträgen); Wenn Verrechnungsmodell=true, dann wird die Zulagenrente automatisch mit dem maximal geförderten Beitrag (=Eigenbeitrag) berechnet. Die Zulagen werden bei der Ermittlung des Eigenbeitrags nicht berücksichtigt, sondern erst mit den Beiträgen des Folgejahres verrechnet.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Kinder" type="CT_Kind" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Verlauf">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Versicherungsverlauf (genutzt zur Rückgabe des Verlaufsergebnis)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_LeistungsArtVerlaufEintrag" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">ArtID (Schlüsselwert des Eintrags)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="UeberschussSatzTyp" type="daten:ST_Szenario" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Hochrechnungsszenario (bis zu 5 Varianten möglich). Inhalt ist vom VU selbst festzulegen (z.B. 2,75%, 3,75%) </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="SzenarioBeschreibung" type="daten:ST_Text080" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">beschreibender Text zum UeberschussSatzTyp</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Waehrung" type="daten:ST_Waehrungsschluessel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Währung, gültig für alle Geldbeträge in Verlaufseintrag </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Leistungsfalltyp" type="daten:STE_LeistungSchluessel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Gibt an von welchem Typ der Leistungsfall ist. (z.B. Pflegebedürftigkeitsstufe)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Verlaufseintrag" type="CT_VerlaufsEintrag" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_VorgabeBerechnung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Daten zur vorgegebenen Berechnungsgrundlage</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_VorgabeBerechnung" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vorgabeparamter zur Berechnung. Die Schlüssel entsprechenden den fachlichen Bedeutungen der Datentypen STE_Beitragsart und STE_VorgabeBerechnungBasis.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Kontext" type="daten:STE_VorgabeBerechnungKontext" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Über den Kontext wird festgelegt, wo die Informationen für die Durchführung einer Berechnung im Modell gefunden werden können. Die alleinige Schlüsselung mit ArtID=GarantierteRente reicht beispielsweise nicht aus, um festzustellen, ob es sich hierbei um garantierte Vorgabe für eine Rentenversicherung oder um eine Vorgabe zur Berufsunfähigkeitsversicherung handelt. Erst unter Hinzunahme des Kontextes Rente bzw. ArbeitskraftAbsicherung kann verdeutlicht werden, dass die Vorgaben in VersicherungssummeOderLeistung unterhalb des Elementarproduktes Rente bzw. ArbeitskraftAbsicherung zu finden sind.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_VerlaufsEintrag">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">einzelner Eintrag im Versicherungsverlauf</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Termin" type="daten:ST_Datum" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bezugsdatum. An diesem Termin gilt der angegebene Eintrag</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Art" type="daten:ST_Text060" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vor der Einführung von erweiterbaren Aufzählungstypen wurde hier der VU--spezifische Schlüssel eingetragen, sofern die ArtID im Verlauf mit 0 (VU-individuell) geschlüsselt wurde. Heute kann diesen Attribut vom Versicherer individuell befüllt werden, um z. B. Überschussmodelle zu berücksichtigen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Betrag" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Betrag</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Rente">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Umfasst alle Rentenversicherungen inkl. Privater Rente, Basisrente (Rürup) und Zulagenrente (Riester).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Elementarprodukt">
				<xsd:sequence>
<xsd:element name="BeitragsRueckgewaehrBeiTod" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Steuert, ob bei Tarifen, bei denen zunächst für den Fall des Todes der Versicherten Person keine Leistung vereinbart ist, die bis zum Zeitpunkt des Todes eingezahlten Beiträge bzw. der Wert der Versicherung, welcher bei z.B. fondsgebundenen Versicherungen auch höher als die Summe der eingezahlten Beiträge sein kann, an die Hinterbliebenen ausgezahlt werden sollen. Bei Basisrenten (Rürup) sind die gesetzlichen Bestimmungen bezüglich Einschränkungen der Auszahlung an Hinterbliebene zu beachten.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="BeitragsRueckgewaehrBeiAblauf" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bei den Fondsgebundenen Versicherungen ist zum Ende der Ansparphase zunächst keine Höhe der Erlebensfallleistung garantiert. Diese ist allein abhängig von der Wertentwicklung der Fondsanteile, da die Sparanteile der Beiträge vollständig in Anteilen an Investmentfonds angelegt werden.
Diese konsequente Anlage der Beiträge in Fondsanteilen bietet einerseits die Chance auf eine überdurchschnittliche Wertentwicklung, beinhaltet aber auch das Risiko, dass zum Ende der Ansparphase die Ablaufleistung z. B. die Summe der gezahlten Beiträge unterschreiten könnte.
Um dieses Verlustrisiko auszuschließen, kann vereinbart werden, dass zum Ende der Ansparphase die Summe der gezahlten Beiträge ohne die Beiträge für eingeschlossene Zusatzversicherungen als Erlebensfallleistung garantiert wird.
Für diese Garantie wird dann ein Teil des Beitrags nicht in Fondsanteile investiert, sondern konventionell angelegt.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Ablaufmanagement" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Gibt an, ob die gutgeschriebenen Fondsanteile gegen Ende der Laufzeit schrittweise in Risikoärmere Anlagen wie z.B. Geldmarktfonds umgeschichtet werden sollen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="UebergangsalterKind" type="daten:ST_Uebergangsalter" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Planmäßiger Übergang des Vertrags bei Kinderversorgungsprodukten vom Versorger auf das versicherte Kind, Wertebereich des Datentyps: Ganzzahlen im Bereich 18 bis 25 jeweils inklusive.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Garantiezeit" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="UebergangVN" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Aufschubzeit" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="FlexibleAuszahlphase" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Abrufphase" type="taa:CT_Dauer" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gefahr">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Die zu versichernde Gefahr</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_GefahrArt" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">VU-individuelles Kennzeichen der zu versichernden Gefahr</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Bezeichnung" type="daten:STE_GefahrBezeichnung" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">VU-individuelle Beschreibung der zu versichernden Gefahr</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
