07-WS/bipro/axa/bipro-allgemein-2.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--BiPRO R2.1.0 - Revision 19.05.2010-->
<!--nillable = "false"-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bipro.net/namespace/allgemein" xmlns:allgemein="http://www.bipro.net/namespace/allgemein" xmlns:mime="http://www.w3.org/2005/05/xmlmime" xmlns:bipro="http://www.bipro.net/namespace" xmlns:daten="http://www.bipro.net/namespace/datentypen" targetNamespace="http://www.bipro.net/namespace/allgemein" bipro:Name="bipro-allgemein-2.1.0.xsd" bipro:Version="2.1.0" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="xmlmime-2005-05.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/datentypen" schemaLocation="bipro-datentypen-2.1.0.xsd"/>
	<xsd:complexType name="CT_FileResponse">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Nachrichten-Objekt zur Übertragung von Dateien</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_ProzessAntwort">
				<xsd:sequence>
<xsd:element name="Datei" type="CT_Datei" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Element" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Fragenkomplexe bestehen aus Elementen. Es gibt verschiedene Arten von Elementen, die sich in ihren Eigenschaften unterscheiden. Daher ist diese Klasse abstrakt modelliert. Die tatsächlich möglichen Arten von Elementen ergeben sich aus den abgeleiteten Klassen. Erläuterung siehe dort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="Ordnungsnummer" type="daten:ST_Ganzzahl" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bestimmt die Reihenfolge der Elemente innerhalb eines Fragenkomplexes. Die Elemente werden nach aufsteigender Sortierung angeordnet. Eine lückenlose Nummerierung ist NICHT erforderlich. Z.B. führt die Ordnungsnummerfolge 1, 2, 4 zur gleichen Anzeigereihenfolge wie die Ordnungsnummernfolge 5, 67, 144</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Anzeigenummer" type="daten:ST_Text017" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Text mit der Anzeigenummer der Frage oder Überschrift innherhalb eine Gruppe von Elementen.
z.B. "3." oder "b)" </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="getFile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Request" type="CT_FileRequest" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CT_ProzessFehler">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Prozess-Objekt. Dient der Uebermittlung von Prozessfehlern.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="BiPROVersion" type="daten:ST_Version" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Status" type="CT_Status" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Versicherungsunternehmen">
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="Nummer" type="daten:ST_VUNummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Die Nummer dient der eindeutigen Identifizierung des Versicherungsunternehmens. Die Art der Nummer wird über das Attribut Nummernart näher spezifiziert.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Name" type="daten:ST_Text060" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ort" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Geschaeftsstelle" type="daten:ST_Geschaeftsstellennummer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Nummernart" type="daten:ST_VUNummernart" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Spezifizierung der Herkunft einer identifizierenden Nummer im Attribut Nummer. Sofern das Attribut keinen Wert enthält handelt es sich bei der identifizierenden Nummer immer um die BaFin-Nummer des Versicherers.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="PartnerID" type="daten:ST_ID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Referenz auf die eindeutige Identifikationsnummer des Partners im Nachrichtenaustausch. In einigen Kontexten kann es sinnvoll sein, Kommunikationsdaten und Adressen, etc. des Versicherers zu übertragen. Ein Modellierung des Versicherungsunternehmens über eine Ableitung von Partnerrolle ist zum Zeitpunkt der Anforderung (04.2009) abwärtsinkompatibel. Aus diesem Grund wurde das Attribut PartnerID als Referenz auf einen im Nachrichtenaustausch gelieferten Partner modelliert. Vergleiche hierzu auch Vermittler.PartnerID.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Objekt" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Master-Objekt. Von diesem Datentypen werden alle anderen komplexen Datentypen der BiPRO direkt oder indirekt abgeleitet.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Erweiterung" type="CT_Erweiterung" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CT_Meldung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ermoeglicht die Erweiterung einer Statusmeldung um zusaetzliche Informationen (z.B. Fehlermeldungen oder Hinweise).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:ST_Meldungsart" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ermoeglicht die Erweiterung einer Statusmeldung um zusaetzliche Informationen (z.B. Fehlermeldungen oder Hinweise), insbesondere 
dann, wenn eine synchrone Verarbeitung nicht mit einem Ergebnis 
abgeschlossen werden konnte. In Anhängigkeit zu 
Status.statusid MUSS oder KANN das Objekt übermittelt werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="MeldungID" type="daten:ST_Meldung" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung der Meldung.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Text" type="daten:ST_Text" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Meldung als Klartext. Diese MUSS natürlichsprachlich und für einen Endanwender (Vermittler) fachlich verständlich formuliert sein. DIe Meldung DARF auf der Benutzeroberfläche angezeigt werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Quelle" type="daten:ST_Text" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Referenz auf das fehlerhafte Objekt und die Objekt-Eigenschaft mittels XPath.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Identifikationsnummer" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Alphanummerische eindeutige Kennzeichnung der Meldung bzw. des Fehlers oder Hinweises. Anhand der Nummer wird insbesondere die nichttechnische Kommunikation zwischen Nutzer und Anbieter erleichtert.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Status">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Dient der Abfrage oder Uebermittlung des Status eines laufenden oder abgeschlossenen Prozesses.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="ProzessID" type="daten:ST_ProzessID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung des fachlichen Prozesses beim Versicherer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Zeitstempel" type="daten:ST_Zeitstempel" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Aktuelles Datum und Uhrzeit zum Bearbeitungszeitpunkt.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="StatusID" type="daten:ST_Status" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung der Statusmeldung.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Gueltigkeitsende" type="daten:ST_Zeitstempel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zeitpunkt bis zu dem die zum Vorgang gehoerigen Daten beim Anbieter vorgehalten werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Schwebe" type="daten:ST_JaNein" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ein Teilprozess wird regelmäßig technisch synchron durchlaufen. Nach einem Request des Service Consumers folgt ein Response des Service Providers. Damit ist dieser Prozess abgeschlossen. Ein technisch synchron übermittelter Geschäftsvorgang kann jedoch nicht immer fallabschließend bearbeitet werden. Das Ende der Bearbeitung stimmt entsprechend nicht immer mit dem Ende des Teilprozesses überein. In diesem Fall handelt es sich um einen schwebenden Vorgang. Zur Kennzeichnung, dass der Vorgang schwebend ist, MUSS das Atttribut Schwebe mit dem Wert true gefüllt werden. Dies ist für den Service Consumer zugleich ein Indikator, an dem er erkennen kann, dass möglicherweise ein Tracking des Vorgangs über einen dritten Business Service (z. B. N430) erfolgen kann.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Meldung" type="CT_Meldung" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Vermittlerrolle">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Rolle(n) des Vermittlers innerhalb des Geschaeftsvorgangs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:ST_Vermittlerrolle" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Wert" type="daten:ST_Dezimalzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Angaben zur möglichen Anteilsverteilung von Untervermittlern.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Wertschluessel" type="daten:STE_VermittlerrolleSchluessel" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Werteinheit" type="daten:ST_Berechnungseinheit" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Vermittlertyp" type="daten:ST_Vermittlertyp" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Nicht">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Mit der Klasse NICHT kann jeweils genau eine Bedingung negiert werden. Ist die negierte Bedingung true, so ist das Ergenis der Negation false und umgekehrt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Bedingung">
				<xsd:sequence>
<xsd:element name="Bedingung" type="CT_Bedingung" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="getFileResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Response" type="CT_FileResponse" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CT_FileRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Nachrichten-Objekt zur Abfrage des Status eines laufenden Prozesses.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_ProzessAnfrage">
				<xsd:sequence>
<xsd:element name="Datei" type="CT_Datei" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Dokumentanforderung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Dient der Anforderung von Druckstuecken und anderen Dokumenten.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:ST_DokumentartID" minOccurs="1" maxOccurs="unbounded"/>
<xsd:element name="DateiID" type="daten:ST_ID" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Versandart" type="daten:ST_Versandart" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Empfaenger" type="daten:ST_ID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">ID des Partners, der referenziert werden soll</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="ReferenzEmpfaenger" type="daten:ST_Text080" minOccurs="0" maxOccurs="1"/>
<xsd:element name="VermittleranschriftAufDokument" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1"/>
<xsd:element name="VermittlerSpezifischeDokumentenergaenzung" type="CT_Datei" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_AntwortZahl">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ableitung der Klasse Antwort zur typisierten Übertragung einer Dezimalzahl als Antwort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Antwort">
				<xsd:sequence>
<xsd:element name="Zahl" type="daten:ST_Dezimalzahl" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Antwort als Dezimalzahl</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FrageJaNein">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Frage deren Antwort in Form eines JaNeins zu geben ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_EinfacheFrage">
				<xsd:sequence>
<xsd:element name="AntwortJaNein" type="CT_AntwortJaNein" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Aktivitaetsrolle" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="AktivitaetID" type="daten:ST_ID" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_KomplexeFrage">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Eine komplexe Frage ist eine inhaltliche Klammer um mehrere einfache Fragen. Z.B. kann ein Provider zwei einfache Fragen &amp;bdquo;Art der Vorerkrankung&amp;ldquo; und &amp;bdquo;Behandelnder Arzt&amp;ldquo; in einer komplexen Frage zusammenfassen. Komplexe Fragen werden deshalb nicht direkt, sondern indirekt über die enthaltenen einfachen Fragen beantwortet.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Frage">
				<xsd:sequence>
<xsd:element name="FachlicheID" type="daten:ST_Text" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Mit dieser ID identifiziert der Provider die Semantik der Frage. Es ist KEINE technische ID, die zur Referenzierung innerhalb des Datenmodells verwendet wird, sondern sie dient zur Auswertung der Antworten beim Provider. Sie kann deshalb im Ermessen des Providers auch mehrfach vorkommen. Dies kann z.B. dann sinnvoll sein, wenn der Provider mehrere gleichartige komplexe Fragen liefert, um mehrere Vorerkrankungen abfragen zu können.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Text" type="daten:ST_Text" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Der Text der Frage, ist vom Consumer wörtlich, ungekürzt und und unverändert im Frontend darzustellen, um die juristisch einwandfreie Beantwortung der Fragen durch den Benutzer sicherzustellen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="EinfacheFrage" type="CT_EinfacheFrage" minOccurs="2" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Fragenkomplex">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Inhaltlich zusammenhängende Menge von Fragen und Gliederungselementen, z.B. &amp;bdquo;Fragen zum Beruf&amp;ldquo; oder &amp;bdquo;Gesundheitsfragen&amp;ldquo;. Welche Fragen wie zu Fragenkomplexen zusammengefasst werden, entscheidet der Provider in seiner Fragenmodellierung. Z.B. kann  ein Provider &amp;bdquo;Fragen zum Beruf&amp;ldquo; und &amp;bdquo;Fragen zur Gesundheit&amp;ldquo; in getrennten Fragenkomplexen liefern. Ein anderer Provider kann diese Fragen in einem Fragenkomplex &amp;bdquo;Fragen zum Antrag&amp;ldquo; liefern.
Ein Fragenkomplex enthält immer alle für den jeweiligen Context relevanten Fragen. D.h. auch, wenn ein Provider sukzessive Folgefragen abhängig von den gegebenen Antworten nachliefert ("Ping Pong"), enthält der Fragenkomplex immer alle zu diesem Zeitpunkt als relevant erkannten Fragen, d.h. es erfolgt immer eine Volllieferung der Fragen, keine Delta-Lieferung zusätzlicher Fragen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_FragenkomplexArt" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Maschinell auswertbare Identifikation der Semantik des Fragenkomplexes. Der Consumer benötigt diese Information, um die gelieferten Fragenkomplexe den Controls im Frontend zuzuordnen, z.B. wenn &amp;bdquo;Fragen zum Beruf&amp;ldquo; und &amp;bdquo;Fragen zur Gesundheit&amp;ldquo; in verschiedenen Fragenkomplexen geliefert werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Bezeichnung" type="daten:ST_Text060" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Hier wird der Gegenstand des Fragenkomplexes in natürlicher Frage beschrieben, z.B. "Fragen zum Antrag" oder "Fragen zum Beruf". Der Consumer kann diese Information zur Anzeige im Frontend nutzen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Element" type="CT_Element" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_AntwortText">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ableitung der Klasse Antwort zur typisierten Übertragung einer Text Antwort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Antwort">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FrageDatum">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Frage deren Antwort in Form eines Datums zu geben ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_EinfacheFrage">
				<xsd:sequence>
<xsd:element name="AntwortDatum" type="CT_AntwortDatum" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_AntwortJaNein">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ableitung der Klasse Antwort zur typisierten Übertragung einer Ja-/Nein Antwort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Antwort">
				<xsd:sequence>
<xsd:element name="Entscheidung" type="daten:ST_JaNein" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eine Antwortenscheidung aus Ja oder Nein</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Dokumentinformation">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Klasse, über die Informationen zu bereitgestellten und mittels TP000007 (N420) abrufbaren Dokumenten.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="DokumentartID" type="daten:ST_DokumentartID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Art des Dokumentes, das zum Download angeboten wird (z. B. Vorschlag)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="DateiID" type="daten:ST_ID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Kennzeichen, über das die abrufbare Datei eindeutig identifiziert werden kann. Das Kennzeichen dient beim Abruf der Datei als Referenzierung.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Bezeichnung" type="daten:ST_Text255" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Kurze für den Endanwender (Vermittler) verständliche Bezeichnung für das abrufbare Dokument.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Erlaeuterung" type="daten:ST_Text" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eine für Endanwender (Vermittler) verständliche Erläuterung über den Inhalt des Dokumentes. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="BereitstellungBis" type="daten:ST_Zeitstempel" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zeitpunkt, bis zu dem das Dokument unter Angabe der DateiID abgerufen werden kann.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_AntwortZeitraum">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ableitung der Klasse Antwort zur typisierten Übertragung eines Zeitraumes als Antwort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Antwort">
				<xsd:sequence>
<xsd:element name="Von" type="daten:ST_Datum" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Von Datum der Antwort Zeitraum</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Bis" type="daten:ST_Datum" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bis Datum der Antwort Zeitraum</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ProzessAnfrage" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Prozess-Objekt. Alle Anfrage-Nachrichten innerhalb der von der BiPRO definierten Prozesse werden von diesem Datentypen abgeleitet.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="BiPROVersion" type="daten:ST_Version" minOccurs="1" maxOccurs="1"/>
<xsd:element name="ConsumerID" type="daten:ST_Text050" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige (providerspezifische) Identifizierung des anfragenden Systems (bzw. des Service Consumers).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BiproException">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CT_ProzessFehler">
					<xsd:sequence/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CT_Und">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Mit der Klasse UND können logische UND-Verknüpfungen von zwei oder mehr Bedingungen abgebildet werden. Das Ergebnis ist true, wenn alle so verknüpften Bedingungen true sind, ansonsten ist das Ergebnis false.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Bedingung">
				<xsd:sequence>
<xsd:element name="Bedingung" type="CT_Bedingung" minOccurs="2" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ZusaetzlicheGegenstandsdaten" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FrageText">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Frage deren Antwort in Form eines Textes zu geben ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_EinfacheFrage">
				<xsd:sequence>
<xsd:element name="MaximaleTextlaenge" type="daten:ST_Ganzzahl" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Maximale Anzahl der Zeichen für die zu gebende Antwort.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="AntwortText" type="CT_AntwortText" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FrageZahl">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Frage deren Antwort in Form einer Zahl zu geben ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_EinfacheFrage">
				<xsd:sequence>
<xsd:element name="AntwortZahl" type="CT_AntwortZahl" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Pruefsumme">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Dient der Uebertragung von Pruefsummen zur automatischen Verifikation, dass die angeforderte Datei fehlerfrei uebertragen wurde.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="Typ" type="daten:ST_Pruefsummetyp" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Wert" type="daten:ST_Pruefsumme" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Antwort" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Antwortobjekt</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="Freitext" type="daten:ST_Text" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Geschaeftsvorgang" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Basis-Objekt aller von der BiPRO definierten Geschaeftsvorgaenge.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="VorgangsnummerVU" type="daten:ST_Text017" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung des Geschaeftsvorgangs beim Versicherer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="VorgangsnummerVM" type="daten:ST_Text017" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung des Geschaeftsvorgangs beim Vermittler.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Erstelldatum" type="daten:ST_Zeitstempel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Datum der Aufgabe des Geschaeftsvorgangs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Freitext" type="daten:ST_Text1000" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Möglichkeit zur Eingabe von Hinweisen zum Geschaeftsvorgang.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="ArtID" type="daten:ST_GeVoArt" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Art des Geschäftsvorganges</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Vermittler" type="CT_Vermittler" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Dokumentanforderung" type="CT_Dokumentanforderung" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Datei" type="CT_Datei" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Dokumentinformation" type="CT_Dokumentinformation" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gliederungspunkt">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Gliederungspunke ermöglichen die inhaltliche Gliederung eines Fragenkomplexes durch Gruppierung der Elemente in (ggf. auch geschachtelte) Abschnitte mit natürlichsprachigen Überschriften, die der Consumer im Frontend anzeigen kann.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Element">
				<xsd:sequence>
<xsd:element name="Text" type="daten:ST_Text" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Element" type="CT_Element" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Abhaengigkeit">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Eine Frage wird relevant, wenn der durch die Bedingung gebildete logische Ausdruck mit &amp;bdquo;wahr&amp;ldquo; bewertet wird. In der Klasse Abhängigkeit wird angegeben, mit welchem Vergleichsoperator die vom Anwender erfasste Antwort auf eine bestimmte Frage mit einem vom Provider vorgebenen Antwortwert zu vergleichen ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Bedingung">
				<xsd:sequence>
<xsd:element name="LinkerOperand" type="daten:ST_ID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Referenz auf die Frage, deren Antwort mit der vom Provider in der Abhängigkeit vorgegebenen Antwort zu vergleichen ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Operator" type="daten:ST_Operator" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vergleichsoperator zur Verknüpfung von Wert der Antwort und dem kritischen Wert.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="RechterOperand" type="CT_Antwort" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gegenstand" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="GegenstandID" type="daten:ST_ID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifikationsnummer zur Referenzierung des Objektes innerhalb des Datenaustauschs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="ZusaetzlicheGegenstandsdaten" type="CT_ZusaetzlicheGegenstandsdaten" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Vertragsnummer">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Kapselt eine Vertragsnummer wahlweise in Form einer Versicherungsscheinnummer gemaess ST_Versicherungsscheinnummer, in Form einer zum Drucken aufbereiteten Zeichenkette oder beides.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="Versicherungsscheinnummer" type="daten:ST_Versicherungsscheinnummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ordnungsbegriff eines Versicherers zur Verwaltung von Versicherungsveträgen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="DruckaufbereiteteVersicherungsscheinnummer" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="VorgangsnummerVU" type="daten:ST_Text017" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ist noch keine Versicherungsscheinnummer zugewiesen worden, dient die VorgangsnummerVU, die vom VU bei der Einreichung eines Antrags vergeben wurde, zur Identifizierung.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Datei">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Container-Objekt fuer zu uebertragende Dateien.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="DateiID" type="daten:ST_ID" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Dateiname" type="daten:ST_Text255" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Dateityp" type="daten:ST_Dateityp" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Daten" type="mime:base64Binary" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Datenlink" type="daten:ST_URL" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Komprimierungstyp" type="daten:ST_Komprimierungstyp" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Erstelldatum" type="daten:ST_Zeitstempel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zeitpunkt der Erstellung der Datei</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="DokumentartID" type="daten:ST_DokumentartID" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Pruefsumme" type="CT_Pruefsumme" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ProzessAntwort" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Prozess-Objekt. Alle Antwort-Nachrichten innerhalb der von der BiPRO definierten Prozesse werden von diesem Datentypen abgeleitet.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="BiPROVersion" type="daten:ST_Version" minOccurs="1" maxOccurs="1"/>
<xsd:element name="ConsumerID" type="daten:ST_Text050" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Status" type="CT_Status" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Bedingung" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Es kann sein, dass eine Frage A nur unter bestimmten Bedingungen &amp;ndash; abhängig von der Beantwortung anderer Fragen B &amp;ndash; zu stellen ist. Diese Bedingungen werden mithilfe der Klasse Bedingung abgebildet. Dabei ist die Bedingung in der Frage A enthalten. Die Fragen B werden über die spezielle Bedingung &amp;bdquo;Abhaengigkeit&amp;ldquo; referenziert. Es gibt mehrere Arten von Bedingungen, daher ist diese Klasse abstrakt modelliert. Die tatsächlich möglichen Arten von einfachen Fragen ergeben sich aus den abgeleiteten Klassen. Erläuterung siehe dort. Mit Hilfe der Subklassen von Bedingung lassen sich Entscheidungsbäume modellieren, deren Blätter stets Bedingungen vom Typ &amp;bdquo;Abhängigkeit&amp;ldquo; sind. Die inneren Knoten dienen der Verknüpfung der Abhängigkeiten zu logisch auswertbaren Bedingungen.

Beispiel:
Einfaches Beispiel: Frage 0815 muss beantwortet werden, falls die Antwort auf Frage 4711 &amp;bdquo;true&amp;ldquo; lautet:
&lt;Element xsi:type=&amp;ldquo;FrageText&amp;ldquo;&gt;
	[...]
	&lt;TechnischeID&gt;0815&lt;/TechnischeID&gt;
	&lt;Bedingung xsi:type=&amp;ldquo;Abhaengigkeit&amp;ldquo;&gt;
		&lt;LinkerOperand&gt;4711&lt;/LinkerOperand&gt; Referenziert eine FrageJaNein
		&lt;Operator&gt;gleich&lt;/Operator&gt;
		&lt;RechterOperand xsi:type=&amp;ldquo;AntwortJaNein&amp;ldquo;&gt;
			&lt;Entscheidung&gt;true&lt;/Entscheidung&gt;
		&lt;/RechterOperand&gt;
	&lt;/Bedingung&gt;
&lt;/Element&gt;

Komplexes Beispiel: Frage A muss beantwortet werden, wenn die Bedingung in Bezug auf Frage B nicht zutrifft oder aber wenn sowohl die Bedingung in Bezug auf Frage C als auch die Bedingung in Bezug auf Frage D zutreffen:
&lt;Element xsi:type=&amp;ldquo;FrageDatum&amp;ldquo;&gt;
	&lt;TechnischeID&gt;A&lt;/TechnischeID&gt;
	&lt;Bedingung xsi:type=&amp;ldquo;Oder&amp;ldquo;&gt;
		&lt;Bedingung xsi:type=&amp;ldquo;Nicht&amp;ldquo;&gt;
			&lt;Bedingung xsi:type=&amp;ldquo;Abhaengigkeit&amp;ldquo;&gt;
				&lt;LinkerOperand&gt;B&lt;/LinkerOperand&gt;
[...]
			&lt;/Bedingung&gt;
		&lt;/Bedingung&gt;
		&lt;Bedingung xsi:type=&amp;ldquo;Und&amp;ldquo;&gt;
			&lt;Bedingung xsi:type=&amp;ldquo;Abhaengigkeit&amp;ldquo;&gt;
				&lt;LinkerOperand&gt;C&lt;/LinkerOperand&gt;
[...]
			&lt;/Bedingung&gt;
&lt;Bedingung xsi:type=&amp;ldquo;Abhaengigkeit&amp;ldquo;&gt;
				&lt;LinkerOperand&gt;D&lt;/LinkerOperand&gt;
[...]
			&lt;/Bedingung&gt;
		&lt;/Bedingung&gt;
	&lt;/Bedingung&gt;
&lt;/Element&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_AntwortWerteliste">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Bei Verwendung zur Erfassung der Benutzerantwort auf eine bestimmte Frage wird hier ein oder kein Wert aus der Liste der in der zugehörigen Frage angegebenen möglichen Werte erfasst. Die Angabe von mehr als einem Wert ist in diesem Fall unzulässig.
Bei Verwendung zur providerseitigen Vorgabe von Prüfwerten in Abhängigkeiten werden hier ein oder mehrere Werte aus der Liste der Antwortmöglichkeiten der in der Abhängigkeit referenzierten Frage angegebenen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Antwort">
				<xsd:sequence>
<xsd:element name="Listeneintrag" type="daten:ST_Text" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Antwort Listeneintrag</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gegenstandsrolle" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="GegenstandID" type="daten:ST_ID" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Oder">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Mit der Klasse ODER können logische ODER-Verknüpfungen von zwei oder mehr Bedingungen abgebildet werden. Das Ergebnis ist true, wenn eine oder mehrere der so verknüpften Bedingungen true sind. Ist keine der  verknüpften Bedingungen true, so ist das Ergebnis der Verknüpfung false.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Bedingung">
				<xsd:sequence>
<xsd:element name="Bedingung" type="CT_Bedingung" minOccurs="2" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_AntwortDatum">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ableitung der Klasse Antwort zur typisierten Übertragung eines Datums als Antwort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Antwort">
				<xsd:sequence>
<xsd:element name="Datum" type="daten:ST_Datum" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Datum als Antwort auf eine Datumsfrage</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Adresse" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Basisklasse von der alle Anschriften abgeleitet werden.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="Strasse" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Hausnummer" type="daten:ST_Text017" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Postleitzahl" type="daten:ST_Postleitzahl" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ort" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Land" type="daten:ST_Laenderkennzeichen" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Landname" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ortsteil" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ortsteil (ggf. für ZÜRS relevant)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Adressnummer" type="daten:ST_Adressnummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bei Bestandsprozessen wird die zu ändernde oder fortfallende Anschrift über das Attribut Adressnummer identifiziert. Der Service Consumer kann diese Adressnummer durch einen vorangehenden Aufruf der Partnerauskunft beim Service Provider abfragen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Aktivitaet" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="AktivitaetID" type="daten:ST_ID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifikationsnummer zur Referenzierung des Objektes innerhalb des Datenaustauschs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FrageZeitraum">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Frage deren Antwort in Form eines Zeitraums zu geben ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_EinfacheFrage">
				<xsd:sequence>
<xsd:element name="AntwortZeitraum" type="CT_AntwortZeitraum" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Frage" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Eine Frage ist ein zu beantwortendes Element. Es gibt mehrere Arten von Fragen, daher ist diese Klasse abstrakt modelliert. Die tatsächlich möglichen Arten von Fragen ergeben sich aus den abgeleiteten Klassen. Erläuterung siehe dort.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Element">
				<xsd:sequence>
<xsd:element name="Erlaeuterung" type="daten:ST_Text" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Optionale Angabe eines Erläuterungstextes zur Frage. Erläuterungstexte liefern ergänzende Informationen, die den Consumer bei der korrekten und vollständigen Beantwortung der Fragen unterstützen sollen. Dies ist insbesondere dann sinnvoll, wenn die Fragen aus Gründen der juristischen eindeutigkeit so formuliert sind, dass ihre intuitive Erfassung möglicherweise schwer fällt. Beispiel: Frage: Üben Sie derzeit ein Hobby mit erhöhter Unfallgefährdung oder Verletzungsgefahr aus? Erläuterungstext: Dazu zählen insbesonderen Tauchen, Kampfsport, Flugsport, Motorsport, Fallschirmspringen und Bergsport.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Bedingung" type="CT_Bedingung" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_EinfacheFrage" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Eine einfache Frage ist eine direkt zu beantwortende Frage. Es gibt mehrere Arten von einfachen Fragen, daher ist diese Klasse abstrakt modelliert. Die tatsächlich möglichen Arten von einfachen Fragen ergeben sich aus den abgeleiteten Klassen. Erläuterung siehe dort.
Wichtig: Jede Art von Fragen erfordert eine eigene Implementierung im Client. Daher darf das Objekt Frage NICHT providerspezifisch erweitert werden. Erweiterungen sind nur im Rahmen eines Spartenspezifischen Datenmodells als Bestandteil der Norm zulässig!
Fragen können auch bereits in der getQuestions-Response mit Antwortobjekten ausgeliefert werden. Dadurch kann der Provider Vorbelegungswerte für die Antworten mitliefern, die der Consumer verwenden darf aber nicht muss.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Frage">
				<xsd:sequence>
<xsd:element name="FachlicheID" type="daten:ST_Text" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Mit dieser ID identifiziert der Provider die Semantik der Frage. Es ist KEINE technische ID, die zur Referenzierung innerhalb des Datenmodells verwendet wird, sondern sie dient zur Auswertung der Antworten beim Provider. Sie kann deshalb im Ermessen des Providers auch mehrfach vorkommen. Dies kann z.B. dann sinnvoll sein, wenn der Provider mehrere gleichartige komplexe Fragen liefert, um mehrere Vorerkrankungen abfragen zu können.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="TechnischeID" type="daten:ST_ID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">In diesem Attribut wird eine innerhalb der Metadaten eindeutige ID angegeben. Diese technische ID wird benötigt, um in der Klasse Abhängigkeit die Frage anzugeben, auf die sich die in der Abhängigkeit auszuwertende Antwort bezieht. Wichtig ist dabei, dass die technische ID für jede Frage innerhalb der BiPRO-Nachricht eindeutig sein MUSS.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Text" type="daten:ST_Text" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Der Text der Frage, ist vom Consumer wörtlich, ungekürzt und und unverändert im Frontend darzustellen, um die juristisch einwandfreie Beantwortung der Fragen durch den Benutzer sicherzustellen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="FreitextErlaubt" type="daten:ST_JaNein" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Wenn dieses Attribut mit &amp;bdquo;Ja&amp;ldquo; gesetzt ist, kann die Antwort  durch einen untypisierten Freitext ergänzt werden. Bei Übermittlung einer Frage vom Typ FrageText ist dieses Attribut immer &amp;bdquo;true&amp;ldquo;.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_FrageWerteliste">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Frage, die mit der Auswahl EINES Wertes aus einer Werteliste beantwortet wird (Single-Selection-Listbox</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_EinfacheFrage">
				<xsd:sequence>
<xsd:element name="MoeglicherWert" type="daten:ST_Text" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Übermittlung der Auswahlmöglichkeiten.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="AntwortWerteliste" type="CT_AntwortWerteliste" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Erweiterung" abstract="true">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="CT_Vermittler">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Daten des fuer den Geschaeftsvorgang verantwortlichen Vermittlers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Objekt">
				<xsd:sequence>
<xsd:element name="VermittlernummerVU" type="daten:ST_Vermittlernummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vermittlernummer beim VU: Eindeutige Identifzierung des Vermittlers beim Versicherer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="VermittlernummerVM" type="daten:ST_Vermittlernummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vermittlernummer beim Vermittler: Eindeutige Identifzierung des Vermittlers beim Vermittler selbst.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="PartnerID" type="daten:ST_ID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Referenz auf die Partnerdaten zum Vermittler</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="IHKRegistrierungsnummer" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Offizielle Nummer des Vermittlers bei der Industrie- und Handelskammer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Art" type="daten:ST_Vermittlerart" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Art der Vermittlungstätigkeit. Verwendung z. B. im Kontext Beratungsprotokoll bei unterschiedlichen Anforderungen je nach Vermittlungstätigkeit</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Vermittlerrolle" type="CT_Vermittlerrolle" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Vermittler" type="CT_Vermittler" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
