07-WS/bipro/axa/bipro-partner-2.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--BiPRO R2.1.0 - Revision 19.05.2010-->
<!--nillable = "false"-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bipro.net/namespace/partner" xmlns:partner="http://www.bipro.net/namespace/partner" xmlns:daten="http://www.bipro.net/namespace/datentypen" xmlns:bipro="http://www.bipro.net/namespace" xmlns:allgemein="http://www.bipro.net/namespace/allgemein" targetNamespace="http://www.bipro.net/namespace/partner" bipro:Name="bipro-partner-2.1.0.xsd" bipro:Version="2.1.0" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:import namespace="http://www.bipro.net/namespace/datentypen" schemaLocation="bipro-datentypen-2.1.0.xsd"/>
	<xsd:import namespace="http://www.bipro.net/namespace/allgemein" schemaLocation="bipro-allgemein-2.1.0.xsd"/>
	<xsd:complexType name="CT_Berufstaetigkeit">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zur Berufstaetigkeit.

Die Attribute Beteiligung (ST_Beteiligung) und Bundesland (ST_Bundesland) fehlen, da die entsprechenden einfachen Datentypen nicht definiert sind.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Beruf" type="daten:ST_Text255" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Name eines bestimmten Berufs. Werden die Attribute "Beruf" UND "Berufschluessel" gemeinsam verwendet, DUERFEN sich die Werte NICHT widersprechen. Der Beruf kann über die Norm 480.2 Berufssuche ermittelt werden. Werden Beruf und Berufsschlüssel geliefert, hat der Berufsschlüssel vorrang. Der Provider DARF im Response den Beruf aus dem Berufsschlüssel ermitteln ggf überschreiben, kenntlich machen und zurückgeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="StellungImBeruf" type="daten:STE_StellungImBeruf" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Mitarbeiteranzahl" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Besoldungsgruppe" type="daten:ST_Text006" minOccurs="0" maxOccurs="1"/>
<xsd:element name="SelbststaendigSeit" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ArbeitsvertragBefristetBis" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Betriebseintritt" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="KoerperlichTaetig" type="daten:ST_Prozent" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Branche" type="daten:STE_BerufsBranche" minOccurs="0" maxOccurs="1"/>
<xsd:element name="OeffentlicherDienst" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ja, wenn der Partner im öffentlichen Dienst beschäftigt ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="AnteilAussendienst" type="daten:ST_Prozent" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Anteil der Tätigkeiten im Außendienst in Prozent.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Aufsichtsfuehrend" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Angabe, ob der Partner beruflich (auch teilweise) aufsichtsführend tätig ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Mitarbeitend" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Feststellung, ob der Partner beruflich (auch teilweise) mitarbeitend tätig ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Berufsschluessel" type="daten:ST_Berufsschluessel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Identifikation eines bestimmten Berufs. Werden die Attribute "Berufschluessel" UND "Beruf" gemeinsam verwendet, DUERFEN sich die Werte NICHT widersprechen. Der Berufsschlüssel kann über die Norm 480.2 Berufssuche ermittelt werden. Werden Beruf und Berufsschlüssel geliefert, hat der Berufsschlüssel vorrang. Der Provider DARF im Response den Beruf aus dem Berufsschlüssel ermitteln ggf überschreiben, kenntlich machen und zurückgeben.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="NichtKoerperlichTaetig" type="daten:ST_Prozent" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zur Bestimmung der Risikogruppe wird zusätzlich zur Angabe der körperlichen Tätigkeit (partner:KoerperlichTaetig) auch die Angabe der Tätigkeit im Büro bzw. ob nicht körperlich Tätig, benötigt. Die Summe beider Werte muss nicht zwangsläufig 100% ergeben, um die Risikogruppe zu bestimmen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Ausweis">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Legitimationsdaten (Ausweis, Reisepass, etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Ausweistyp" type="daten:ST_Ausweistyp" minOccurs="1" maxOccurs="1"/>
<xsd:element name="AusstellendeBehoerde" type="daten:ST_Text080" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Austellungsdatum" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ausweisnummer" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="GueltigBis" type="daten:ST_Datum" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Das Ablaufdatum eines Personaldokumentes ist für die Identifizierung einer Person relevant.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_HandeltAufRechnungVon">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Gibt an, dass ein Partner auf Rechnung eines anderen handelt.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Partnerrolle">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Haushalt">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zu weiteren im Haushalt lebenden Personen (insb. Kinder).

Das Attribut KinderImHaushalt (ST_KinderImHaushalt) fehlt, da der entsprechende einfache Datentyp nicht definiert ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Haushaltsgroesse" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1"/>
<xsd:element name="AnzahlKinder" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1"/>
<xsd:element name="GeburtsdatumJuengstesKind" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="GeburtsdatumAeltestesKind" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="KinderImHaushalt" type="daten:STE_KinderImHaushalt" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Haushaltsart" type="daten:STE_Haushaltsart" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Art des Haushalt</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Partnerrolle" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Die Rolle des Partners innerhalb eines konkreten Kontexts innerhalb der Nachricht. Alle Partner werden innerhalb einer Liste unterhalb des Wurzelelements der Nachricht (i.d.R. abgeleitet von Geschaeftsvorgang) uebertragen und aus dem jeweiligen Kontext, aus dem sie benoetigt werden, mit Hilfe einer von diesem Datentypen abgeleiteten Rolle referenziert.

Hierfuer enthaelt Partnerrolle ein Attribut von Typ ST_PartnerID, dessen Wert mit dem Wert des Attributs PartnerID (ebenfalls vom Typ ST_PartnerID) eines in der oben angesprochenen Liste enthaltenen Partners uebereinstimmen muss.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="PartnerID" type="daten:ST_ID" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Referenz auf einen Partner in der Partnerliste.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Partneranschrift">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Anschrift eines Partners.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Adresse">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:ST_Anschriftart" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Postfach" type="daten:ST_Postfach" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Adresszusatz" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Adresstyp" type="daten:ST_Adresstyp" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Typ der Partneranschrift (z.B. geschaeftlich, privat).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="BevorzugteKorrespondenzanschrift" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Identifiziert die Anschrift, an welche die Korrespondenz gerichtet werden soll. Das VU nutzt diese Anschrift zu 100% zur Kommunikation. Die bevorzugte Anschrift darf nur einmal vorkommen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Partner" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Basis-Objekt fuer Partnerdaten, das die Gemeinsamkeiten von natuerlichen und juristischen Personen abbildet. Unterklassen duerfen nicht projektspezifisch abgeleitet werden um die Kombination der Ergebnisse verschiedener Projekte der BiPRO innerhalb eines Services und insbesondere die spartenuebergreifende Produktbuendelung in Tarifierungsprojekten nicht zu gefaehrden. Fuer solche Erweiterungen steht - falls notwendig - der Datentyp ZusaetzlichePartnerdaten zur Verfuegung.

Partner werden in einer Liste unterhalb des Wurzelelements (i.d.R. abgeleitet von Geschaeftsvorgang) jeder Nachricht uebertragen. Die Referenzierung aus dem jeweiligen lokalen Kontext erfolgt ueber die Partnerrolle in Kombination mit dem Attribut PartnerID dieses Datentyps.

Die Attribute BezugZuVN (ST_BezugZuVN) und PartnerID (ST_PartnerID) fehlen, da die entsprechenden einfachen Datentypen nicht definiert sind.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Anrede" type="daten:ST_Anredeschluessel" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Name" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Nachname der Person bzw. Firmenname des Unternehmens.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Namenszusatz1" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Namenszusatz2" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PartnernummerVM" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung des Partners beim Vermittler.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="PartnernummerVU" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige Identifizierung des Partners beim Versicherer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Vorsteuerabzugsberechtigt" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vorsteuerabzugsfähigkeit.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="PartnerID" type="daten:ST_ID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Eindeutige ID des Partners innerhalb eines Datenaustauschs. Diese ID dient zur Referenzierung aus einem fachlichen Kontext.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Anschrift" type="CT_Partneranschrift" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ZusaetzlichePartnerdaten" type="CT_ZusaetzlichePartnerdaten" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Kommunikationsverbindung" type="CT_Kommunikationsverbindung" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Bankverbindung" type="CT_Bankverbindung" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="HandeltAufRechnungVon" type="CT_HandeltAufRechnungVon" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Gruppenvertragspartner" type="CT_Gruppenvertragspartner" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Partnerbeziehung" type="CT_Partnerbeziehung" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Vertrauensperson" type="CT_Vertrauensperson" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Kirchensteuer">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zu Kirchensteuerpflicht und -satz.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Kirchensteuer" type="daten:ST_JaNein" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Kirchensteuersatz" type="daten:ST_Faktor" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_JuristischePerson">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Juristische Person. Darf nicht Projekt-spezifisch abgeleitet werden (vgl. Kommentar zu Partner). Kann eine natuerliche Person als Vertretungsberechtigten haben.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Partner">
				<xsd:sequence>
<xsd:element name="Rechtsform" type="daten:ST_Rechtsform" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Steuernummer" type="daten:ST_Steuernummer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Gruendungsdatum" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Branche" type="daten:STE_BerufsBranche" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Vertretungsberechtigter" type="CT_Vertretungsberechtigter" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Der ueber die Rolle Vertretungsberechtigter referenzierte Partner muss eine natuerliche Person sein.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gesundheitsdaten">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Biometrische Daten einer (natürlichen) versicherten Person</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Groesse" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Die Körpergröße der Person in cm.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Gewicht" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Das Gewicht der Person in Kg.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="DioptrienLinks" type="daten:ST_Dezimalzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Angabe zur Fehlsichtigkeit des linken Auges der Person Kurzsichtigkeit: negative Zahl; Weitsichtigkeit: positive Zahl. Angabe in Dioptrien gemaess DIN.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="DioptrienRechts" type="daten:ST_Dezimalzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Angabe zur Fehlsichtigkeit des rechten Auges der Person Kurzsichtigkeit: negative Zahl; Weitsichtigkeit: positive Zahl. Angabe in Dioptrien gemaess DIN.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="FehlendeZaehne" type="daten:ST_Ganzzahl" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Anzahl der fehlenden echten Zähne ohne Weisheitszähne</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="VoraussichtlicherEntbindungstermin" type="daten:ST_Datum" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Hierüber kann auch festgestellt werden ob eine Schwangerschaft zum Zeitpunkt des Antrags vorliegt.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Person">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Natuerliche Person. Darf nicht Projekt-spezifisch abgeleitet werden (vgl. Kommentar zu Partner). Kann Vertretungsberechtigter einer juristischen Person sein.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Partner">
				<xsd:sequence>
<xsd:element name="Vorname" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Geburtsdatum" type="daten:ST_Datum" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Geschlecht" type="daten:ST_Geschlecht" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Titel" type="daten:ST_Text017" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Geburtsort" type="daten:ST_Text025" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Staatsangehoerigkeit" type="daten:ST_Laenderkennzeichen" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Familienstand" type="daten:ST_Familienstand" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Adelspraedikat" type="daten:ST_Text017" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Geburtsname" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Geburtsland" type="daten:ST_Laenderkennzeichen" minOccurs="0" maxOccurs="1"/>
<xsd:element name="InDeutschlandAnsaessigSeit" type="daten:ST_Datum" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zeitpunkt, seit dem die Person in Deutschland ansaessig ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Steueridentifikationsnummer" type="daten:ST_Steueridentifkationsnummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Die Steuer-Identifikationsnummer (auch TIN für Tax Identification Number) ist eine bundeseinheitliche und dauerhafte Identifikationsnummer von in Deutschland gemeldeten Bürgern für Steuerzwecke.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Ausweis" type="CT_Ausweis" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="GesetzlicheKrankenversicherung" type="CT_GesetzlicheKrankenversicherung" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Einkommenssteuer" type="CT_Einkommenssteuer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Berufstaetigkeit" type="CT_Berufstaetigkeit" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Einkommen" type="CT_Einkommen" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Haushalt" type="CT_Haushalt" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ausbildung" type="CT_Ausbildung" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Gesundheitsdaten" type="CT_Gesundheitsdaten" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_ZusaetzlichePartnerdaten" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Da Partner nicht projektspezifisch abgeleitet werden dürfen um die Kombination der Ergebnisse verschiedener Projekte der BiPRO innerhalb eines Services und insbesondere die spartenuebergreifende Produktbuendelung in Tarifierungsprojekten nicht zu gefaehrden, koennen Erweiterungen dieses Datentyps genutzt werden um Projekt-, Sparten- und Kontextspezifische Erweiterungen des Partners vorzunehmen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Kommunikationsverbindung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zu Telefon, Fax, Email etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:ST_Kommunikationstyp" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Kommunikationsadresse" type="daten:ST_Text060" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Ausbildung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Das Objekt kann nur einmal geliefert werden. Abgebildet wird hier deshalb der höchste erzielte Abschluss.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ArtID" type="daten:STE_Ausbildungsart" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Art der Schul- oder Ausbildung</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Fachrichtung" type="daten:ST_Text255" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Freitext zur Ausbildungsart oder zum höchsten Abschluss</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Abschlussdatum" type="daten:ST_Datum" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Datum, an dem der Abschluss erzielt wurde.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Firmeneintritt" type="daten:ST_Datum" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Zeitpunkt des Firmeneintritts im Ausbildungsbetrieb bei einer betrieblichen Ausbildung</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="HoechsterAbschluss" type="daten:STE_Bildungsabschluss" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Höchster Schul- oder Hochschulabschluss</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Partnerbeziehung">
		<xsd:complexContent>
			<xsd:extension base="CT_Partnerrolle">
				<xsd:sequence>
<xsd:element name="Art" type="daten:STE_Partnerbeziehung" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Beschreibt die Art der Beziehung der Partner untereinander. Im Falle von natürlichen Personen können hierüber z. B. Verwandtschaftsverhältnisse wie z. B. Eltern-Kind-Beziehungen innerhalb der Rolle abgebildet werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_GesetzlicheKrankenversicherung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Daten zum Versicherungsstatus einer natuerlichen Person in der gesetzlichen Krankenversicherung.

Das Attribut Krankenkasse fehlt, da der entsprechende einfache Datentyp (ST_Krankenkasse) nicht definiert ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="GesetzlichVersichert" type="daten:ST_JaNein" minOccurs="1" maxOccurs="1"/>
<xsd:element name="Pflichtig" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Beitragssatz" type="daten:ST_Prozent" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_VermoegenswirksameLeistung">
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Arbeitgeberanteil" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Arbeitgeberanteil an den VL</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Arbeitnehmeranteil" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Arbeitnehmeranteil an den VL</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Waehrung" type="daten:ST_Waehrungsschluessel" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Relevante Währung für die Attribute Arbeitgeber und Arbeitnehmer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Bankverbindung">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zur Bankverbindung.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Bankverbindung" type="daten:ST_TypDerBankverbindung" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Kontonummer" type="daten:ST_Kontonummer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Bankleitzahl" type="daten:ST_Bankleitzahl" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Institut" type="daten:ST_Text060" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Kontoinhaber" type="daten:ST_Text030" minOccurs="0" maxOccurs="1"/>
<xsd:element name="IBAN" type="daten:ST_IBAN" minOccurs="0" maxOccurs="1"/>
<xsd:element name="BIC" type="daten:ST_BIC" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Einzugsermaechtigung" type="daten:ST_JaNein" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Bankverbindungsnummer" type="daten:ST_Bankverbindungsnummer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Bei Bestandsprozessen wird die zu ändernde oder fortfallende Bankverbindung über das Attribut Bankverbindungsnummer identifiziert. Der Service Consumer kann diese Bankverbindungsnummer durch einen vorangehenden Aufruf der Partnerauskunft beim Service Provider abfragen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Vertrauensperson">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Gibt an, dass ein Partner auf Rechnung eines anderen handelt.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Partnerrolle">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Vertretungsberechtigter">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Natuerliche Person, die fuer eine juristische Person vertretungsberechtigt ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CT_Partnerrolle">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Gruppenvertragspartner">
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="ID" type="daten:STE_Gruppenvertragspartner" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Mitgliedsnummer" type="daten:ST_Text025" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de"> Identifikation des Partners beim Gruppenvertragspartner</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Gruppenvertragsnummer" type="daten:ST_Text030" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Möglichkeit der Identifikation des Gruppenvertragspartners, wenn keine Identifizierung über ID erfolgt. Eine Identifikation ist demnach nicht nur über eine Werteliste (ID) möglich, sofern die Informationen über den Gruppenvertragspartner auf anderen Wegen übermittelt werden. Bei jeder Änderung (neuer Partner oder Wegfall eines Partners) müsste ein aktualisiertes Schema verteilt werden.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
<xsd:element name="Status" type="daten:ST_GruppenvertragspartnerStatus" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ermittlung, ob der gelieferte Partner bereits Mitglied ist.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Einkommenssteuer">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zur Einkommenssteuer.

Das Attribut Veranlagung (ST_Veranlagung) fehlt, da der entsprechende einfache Datentyp nicht definiert ist.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="Grenzsteuersatz" type="daten:ST_Faktor" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Freibetrag" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Kirchensteuer" type="CT_Kirchensteuer" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CT_Einkommen">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Angaben zum Einkommen.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="allgemein:CT_Objekt">
				<xsd:sequence>
<xsd:element name="AnzahlGehaelterProJahr" type="daten:ST_Dezimalzahl" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Nettomonatseinkommen" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Nettojahreseinkommen" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Waehrung" type="daten:ST_Waehrungsschluessel" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Bruttomonatseinkommen" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Bruttojahreseinkommen" type="daten:ST_Betrag" minOccurs="0" maxOccurs="1"/>
<xsd:element name="VermoegenswirksameLeistung" type="CT_VermoegenswirksameLeistung" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
