kv-main/wsdl/KundenVerwaltungWebServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.kv.kiltz.de/" name="KundenVerwaltungWebService"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:tns="http://ws.kv.kiltz.de/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.kv.kiltz.de/"
                        schemaLocation="KundenVerwaltungWebServiceImplService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="holeKunde">
        <part name="parameters" element="tns:holeKunde"/>
    </message>
    <message name="holeKundeResponse">
        <part name="parameters" element="tns:holeKundeResponse"/>
    </message>
    <message name="sucheKunde">
        <part name="parameters" element="tns:sucheKunde"/>
    </message>
    <message name="sucheKundeResponse">
        <part name="parameters" element="tns:sucheKundeResponse"/>
    </message>
    <message name="loescheKunde">
        <part name="parameters" element="tns:loescheKunde"/>
    </message>
    <message name="loescheKundeResponse">
        <part name="parameters" element="tns:loescheKundeResponse"/>
    </message>
    <message name="neueAdresse">
        <part name="parameters" element="tns:neueAdresse"/>
    </message>
    <message name="neueAdresseResponse">
        <part name="parameters" element="tns:neueAdresseResponse"/>
    </message>
    <message name="neuerKunde">
        <part name="parameters" element="tns:neuerKunde"/>
    </message>
    <message name="neuerKundeResponse">
        <part name="parameters" element="tns:neuerKundeResponse"/>
    </message>
    <message name="KundenWSException">
        <part name="fault" element="tns:KundenWSException"/>
    </message>
    <message name="aendereKunde">
        <part name="parameters" element="tns:aendereKunde"/>
    </message>
    <message name="aendereKundeResponse">
        <part name="parameters" element="tns:aendereKundeResponse"/>
    </message>
    <portType name="KundenVerwaltungWebService">
        <operation name="holeKunde">
            <input message="tns:holeKunde"/>
            <output message="tns:holeKundeResponse"/>
        </operation>
        <operation name="sucheKunde">
            <input message="tns:sucheKunde"/>
            <output message="tns:sucheKundeResponse"/>
        </operation>
        <operation name="loescheKunde">
            <input message="tns:loescheKunde"/>
            <output message="tns:loescheKundeResponse"/>
        </operation>
        <operation name="neueAdresse">
            <input message="tns:neueAdresse"/>
            <output message="tns:neueAdresseResponse"/>
        </operation>
        <operation name="neuerKunde">
            <input message="tns:neuerKunde"/>
            <output message="tns:neuerKundeResponse"/>
            <fault message="tns:KundenWSException" name="KundenWSException"/>

        </operation>
        <operation name="aendereKunde">
            <input message="tns:aendereKunde"/>
            <output message="tns:aendereKundeResponse"/>
            <fault message="tns:KundenWSException" name="KundenWSException"/>
        </operation>
    </portType>
    <binding name="KundenVerwaltungWebServiceImplPortBinding" type="tns:KundenVerwaltungWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="holeKunde">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sucheKunde">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="loescheKunde">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="neueAdresse">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="neuerKunde">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="KundenWSException">
                <soap:fault name="KundenWSException" use="literal"/>
            </fault>
        </operation>
        <operation name="aendereKunde">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="KundenWSException">
                <soap:fault name="KundenWSException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="KundenVerwaltungWebServiceImplService">
        <port name="KundenVerwaltungWebServiceImplPort" binding="tns:KundenVerwaltungWebServiceImplPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

